html{
    box-sizing: border-box;
    height: 100%;
/*    -webkit-text-size-adjust: 100%; */
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f6f7;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    height: 100%;
/*    box-sizing: inherit;   */
}

.page{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper{
    flex: 1 0 auto;
    overflow-x: hidden;
}

.banner--fadein{
    opacity: 1;
    visibility: visible;
    cursor: pointer;
}

.banner{
    left: 0;
    right: 0;
    z-index: 40;
    cursor: pointer;
    text-transform: uppercase;
    background-color: transparent;
    transition: background-color .2s ease-in, opacity .2s ease-in;
}

#logIn{
    position:relative;
    display: flex;
    visibility: visible;
    color: white;
    background-color: transparent;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
}

#logIn:hover{
    color: lightgray;
    font-weight: bold;
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.logIn{
    background-image: linear-gradient(0deg, transparent 40%, rgb(0, 0, 0) 95%, rgb(0, 0, 0) 100%); 
    position: relative;
    display: flex;
    top: 0;
    left: 0;
    height:100px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
}

.topHalf{
    background-image: url(https://www.hulu.com/static/hitch/s3/attachments/ckbvd0eoj02mz19mjjwd51mmx-homepage-masthead-test-tablet-1536x1320-v4c-6-16-20.jpg);
    display: flex;
    flex-direction: column;
    justify-content:inherit;
    align-items: center;
    background-position: center;
    background-size:cover ;
    text-align: center;
    overflow: hidden;
    position: inherit;
    padding-top: 0;
    min-height: 800px;
    z-index: 1;
}

.overGraphic{
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    color: #fff;
    line-height: 1.3;
    z-index: 0;
    padding: 40px 80px;
    margin-left: auto;
    margin-right: auto;
}

.oneMonthFree{
    color: #FFFFFF;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 7px;
    width: 100%;
}

.oneMonthFree_text{
    color: #2DBD9D;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 13px;
    padding-bottom: 8px;
} 

.watchThousands{
    font-weight: 600;
    margin-top: 8px;
    font-size: 18px;
    line-height: 24px;
}

.freeTrial{
    margin-top: 1.6em;
    width: 100%;
}

.freeTrial_input{
    transform: translateY(0);
    border-radius: 4px;
    cursor: pointer;
    color: #040505;
    background: #fff;
    height: 46px;
    min-width: 136px;
    padding: 0 32px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 1px;
    text-align: center;
}

.newEligible{
    align-self: center;
    margin-top: 16px;
    color: #fff;
    opacity: 0.6;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    font-weight: normal;
    line-height: 16px;
}

.graphicBackground{
    background-image: linear-gradient(0deg, transparent 60%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.4) 100%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-position: center top;
    background-size: cover;
    box-sizing: inherit;
}

.getBundle{
    background: linear-gradient(318.68deg, #0F495C 0%, #0D3640 49.72%, #08141F 100%);
    padding: 28px 10px 28px 20x;
    z-index: 1;
    width: 100%;
}

.row{
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1520px;
    display: flex;
    flex-wrap: wrap;
}

.huDisES{
    display:none;
    padding: 0;
}

.img huDisES{
    max-width: 180px;
    width: 100%;
    vertical-align: middle;
    border-style: none;
}